/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

/* Navbar styles */
.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px;
  height: 10%;
}

.navbar img {
  max-width: 78px;
}

/* Sidebar styles */
.sidebar {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

/* Content styles */
.content {
  padding: 20px;
}

/* Product card styles */
.product-card {
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-card h3 {
  margin-bottom: 10px;
}

.product-card p {
  margin-bottom: 5px;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

